<div fxLayout="row wrap"
     class="product-details" [class.selected]="selected"
     [class.disabled]="isDisabled()"

     fxLayoutAlign="space-between start">
  <div fxFlex="70%">
    <h2>{{product.name}}</h2>
  </div>
  <div>
    <h2>{{product.price | currency}}</h2>
  </div>

  <div fxFlex="100%" [hidden]="!showIndicators">
    <div fxLayout="row" fxLayoutAlign="end center">
      <ng-container *ngIf="!isDisabled()">
        <div>
          <button
            *ngIf="!selected && !alreadyOrdered"
            matTooltip="Add Product"
            (click)="onSelected(true)"
            mat-icon-button>
            <mat-icon>
              add_shopping_cart
            </mat-icon>
          </button>
        </div>
        <div>
          <button
            *ngIf="selected"
            matTooltip="Remove Product"
            (click)="onSelected(false)"
            mat-icon-button>
            <mat-icon>
              remove_shopping_cart
            </mat-icon>
          </button>
        </div>
      </ng-container>
      <div *ngIf="isDisabled()">
        <button
          disabled
          matTooltip="No founds"
          mat-icon-button>
          <mat-icon>
            money_off_csred
          </mat-icon>
        </button>
      </div>
      <div *ngIf="alreadyOrdered">
        Already Ordered
      </div>
    </div>
  </div>
</div>



