.selected {
  background-color: rgba(0, 0, 0, 0.04);
}

.disabled {
  background-color: rgba(255, 0, 0, 0.4);
}

.product-details {
  padding: 20px;
  transition: background-color 200ms ease-in-out ;
}

.product-details:hover:not(.disabled) {
  background-color: rgba(0, 0, 0, 0.04);
}

.product-details small {
  color: gray;
}
