<nav>
  <div fxLayout="row" fxLayoutAlign="space-between center" style="height: 40px;">
    <div>
        <a fxHide.lt-sm routerLink="/" i18n>Home</a>
        <a fxHide.lt-sm routerLink="products" i18n>Products</a>
      <button [matMenuTriggerFor]="mainMenu" fxHide.gt-xs mat-icon-button>
        <mat-icon>
          menu
        </mat-icon>
      </button>
    </div>

    <div *ngIf="hasUser">
      <ul class="right-menu">
        <li matTooltip="Current Balance">
          {{ balance | currency }}
        </li>
        <li>
          <button mat-icon-button matTooltip="Account" aria-label="Account Information"
                  [matMenuTriggerFor]="accountMenu">
            <mat-icon>account_circle</mat-icon>
          </button>
        </li>
      </ul>
    </div>

    <div *ngIf="!hasUser">
      <div>
        <a routerLink="login" i18n>Login</a>
      </div>
    </div>
  </div>
</nav>

<mat-menu #mainMenu="matMenu">
  <a mat-menu-item routerLink="/">
    <span i18n>Home</span>
  </a>
  <a mat-menu-item routerLink="/products">
    <span i18n>Products</span>
  </a>
</mat-menu>

<mat-menu #accountMenu="matMenu">
  <a mat-menu-item routerLink="orders/historic">
    <mat-icon>shopping_basket</mat-icon>
    <span i18n>Orders</span>
  </a>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span i18n>Logout</span>
  </button>
</mat-menu>
