nav {
  font-size: larger;
}

nav a {
  text-decoration: none;
  color: black;
  transition: color 200ms ease-in-out;
  text-transform: uppercase;
  margin-right: 25px;
}

nav a:hover {
  color: gray;
}

.right-menu {
  list-style: none;
  margin: 0;
}

.right-menu li {
  display: inline-block;
}
