<div fxLayout="row wrap" fxLayoutAlign="center center"  class="app-shell">

  <div fxFlex="100%" class="top-nav">
    <app-top-navigation
      [hasUser]="hasUser"
      [balance]="currentBalance">
    </app-top-navigation>
  </div>

  <div class="content" fxFlex="100%" fxFlex.gt-sm="70%" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
  </div>

</div>
