.bottom-indicator {
  background-color: #f4f5f8;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 10px 0 10px 0;
}

.cart-items-indicator {
  margin-right: 20px;
}

.empty-list {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 30px 0 20px 0;
  color: grey;
}
