<div fxLayout="row" fxLayoutAlign="space-between start">
  <div>
    <h1 class="mat-display-2" i18n>Products</h1>
  </div>
  <div class="cart-items-indicator">
    <a routerLink="/cart" matTooltip="My Cart" mat-icon-button color="primary"
       matBadge="{{numberItemsOnBasket()}}" matBadgePosition="above" matBadgeColor="warn">
      <mat-icon>
        shopping_cart
      </mat-icon>
    </a>
  </div>
</div>

<div fxLayout="row">
  <div fxFlex="100%" *ngIf="isLoading">
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <div class="empty-list" fxFlex="100%" *ngIf="isLoading === false && products.length === 0">
    <h3>No products available</h3>
  </div>
</div>

<div fxLayout="row wrap" fxLayoutGap="10px grid">
  <div *ngFor="let product of products" fxFlex="100%" fxFlex.gt-sm="50%">
    <app-product
      [disabled]="!hasBudget(product)"
      [selected]="isSelected(product)"
      [alreadyOrdered]="alreadyOrdered(product)"
      [product]="product"
      [showIndicators]="true"
      (change)="processSelectionEvent($event)">
    </app-product>
  </div>
</div>

<div style="margin-top: 70px;"></div>

<div class="bottom-indicator">
  <div fxLayout="row" fxLayoutAlign="space-evenly center">
    <div style="width: 150px;">
      TOTAL <strong>{{total() | currency}}</strong>
    </div>
    <div>
      <button mat-flat-button color="accent" routerLink="/cart">CONTINUE</button>
    </div>
  </div>
</div>



