<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="90%" fxFlex.gt-sm="50%">

    <div fxLayout="row">
      <div>
        <h1 class="mat-display-2">Login</h1>
      </div>
    </div>

    <form [formGroup]="loginForm" (submit)="submitLogin()" class="login-form">
      <mat-form-field class="input-full-width">
        <mat-label>
          Username
        </mat-label>
        <input matInput type="text" formControlName="username" required placeholder="Username">
        <mat-error *ngIf="loginForm.controls.username.hasError('required')">
          Username is required
        </mat-error>
        <mat-error *ngIf="loginForm.controls.username.hasError('pattern')">
          Username is invalid
        </mat-error>
      </mat-form-field>

      <mat-error *ngIf="loginForm.hasError('general')">
        We're experience some errors. Please try later
      </mat-error>

      <button
        class="submit-btn"
        color="accent"
        mat-flat-button
        type="submit"
        [disabled]="loginForm.invalid || isLoading">Login
      </button>

    </form>
  </div>
</div>
