<div fxLayout="row wrap" fxLayoutAlign="space-between end">
  <div fxFlex="100%">
    <h1 class="mat-display-2" i18n>My Orders</h1>
  </div>
  <div fxFlex="100%" *ngIf="isLoading">
    <div fxLayout="row" fxLayoutAlign="center">
      <mat-spinner></mat-spinner>
    </div>
  </div>

  <div class="empty-list" fxFlex="100%" *ngIf="isLoading === false && orderedProducts.length === 0">
    <h3>You don't have any orders</h3>
  </div>

  <div fxFlex="100%">
    <div *ngFor="let product of orderedProducts" style="width: 100%;">
      <app-product
        [product]="product">
      </app-product>
    </div>
  </div>
</div>
