/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-display-2 {
  margin: 0 0 30px 0 !important;
}

.mt-5 {
  margin-top: 20px;
}
