<div fxLayout="row wrap" fxLayoutAlign="space-between end">
  <div fxFlex="100%">
    <h1 class="mat-display-2" i18n>Cart</h1>
  </div>

  <div class="empty-list" fxFlex="100%" *ngIf="items().length === 0">
    <h3>You don't have any products, keep shopping</h3>
  </div>

  <div fxFlex="100%">
    <div *ngFor="let product of items()" style="width: 100%;">
      <app-product
        [product]="product">
      </app-product>
    </div>
  </div>
</div>

<form class="mt-5" [formGroup]="cartForm" (submit)="submitCart()">
  <div fxLayout="row" fxLayoutAlign="space-between end">
    <div>TOTAL COST: <strong>{{cost() | currency}}</strong></div>
    <button type="submit" [disabled]="isEmpty() || isLoading" mat-flat-button color="accent">PLACE ORDER</button>
  </div>
  <mat-error *ngIf="cartForm.hasError('products_not_found')">
    Your cart has outdated products, we'll reset your cart.
  </mat-error>
  <mat-error *ngIf="cartForm.hasError('products_already_purchased')">
    Product already purchased.
  </mat-error>
  <mat-error *ngIf="cartForm.hasError('insufficient_balance')">
    Insufficient founds.
  </mat-error>
  <mat-error *ngIf="cartForm.hasError('request')">
    We're experience some server error. Please try again.
  </mat-error>
  <mat-error *ngIf="cartForm.hasError('general')">
    We're experience some error, verify you internet connection and try again.
  </mat-error>
</form>
